@import url("dashboard_totallyblue.css");

body     { font-family:Arial, sans-serif; background-color: #1874CD;}
input    { font-family:Arial, sans-serif; font-size:15px; background-color: #eeeeee; }
select   { font-family:Arial, sans-serif; font-size:15px; }

#console { width:99%; top:2em; bottom:0px; position:absolute; overflow-y:auto; }
#errmsg  { background-color: #000000; color: #EEEEEE;
           position:fixed; top:45px; left:232px; z-index: 10; font-size:20px; }
.devType { padding-top:20px; color:#B3D1FF;}
a        { color:#0052CC; }
a:hover  { color:#EEEEEE; }
img      { border-style:none; }
.wide    { width:99%; }
table.readings td:nth-child(2) { word-break: break-all; }

table.block { border:0px solid gray; background: #80B2FF; }
table.block tr.odd { background: #99C1FF; }
table.block tr.even { background: #99C1FF; }
table.block td { color: #000000; }
table.block a:hover { color: #EEEEEE; }
table { border-radius:4px; width:100%; border-spacing: 0px 4px; padding-left: 2px; padding-right: 2px; }
/*table.room { border:0px solid gray; width: 100%; background: #99C1FF; }*/
table.room { border:0px solid gray; width: 100%; background: #80B2FF; }
table.room tr { background: #99C1FF; }
table.room tr.sel { background: #EEEEEE; }
table.room tr:hover { background: #80B2FF; }
tr.column > td { padding:0; vertical-align:top;}
.changed a, .changed { color:red; }
.menu_Save_config .changed a, .menu_Save_config .changed { color:red; padding-left:20px; font-weight:bold; }
.fhemlog { color:#B3D1FF; }
.col2 { text-align:center; }

/* Documentation */
h2,h3,h4 { line-height:1.3; color:#B3D1FF;
           margin-top:1.5em; font-family:Arial,Sans-serif; }
div.dist { padding-top:0.3em;}
body     {  color:#B3D1FF; }
button.dist { margin:10px; background:transparent; border:0px; cursor:pointer; }
div.block { border:1px solid gray; background: #F8F8E0; padding:0.7em; }
#right { position:absolute; top:20px; left:180px; bottom:5px; right: 5px; }

/* Widgets */
.makeTable  { display:inline; float:left; clear:left; /*detail-selector,slider*/
              margin-top:10px; margin-bottom:20px; color:#B3D1FF;}
.block  { color:#0052CC;}
.dval  { color:#000000;}
.makeSelect { display:inline; float:left; clear:left; color:#B3D1FF; }
select      { margin-left:5px; margin-right:5px; }
.slider     { float:left; width:250px; height:26px; }
.colorpicker_ct .slider { background: url(../jscolor/ct_background.svg); }
.colorpicker_ct_mired .slider { background: url(../jscolor/ct_mired_background.svg); }
.colorpicker_hue .slider { background: url(../jscolor/hue_background.svg); }
.get,.set,.attr { margin-bottom:5px; float:left; }
select.svgSrc     { width:100px; }
select.svgColumn  { width:50px;  }
select.svgRegexp  { width:120px; }

/* sortable Widget */
ul.sortable-src, ul.sortable-dest {
  min-width: 130px; min-height:1.8em;
  list-style-type: none;border: 2px solid black;
  vertical-align:middle; margin: 3px;
  background: #eee; padding: 2px;
} 
ul.sortable-src li, ul.sortable-dest li { 
  color: black!important;font-size: 0.8em;
  line-height: 1.6em; vertical-align:middle;
  text-align:left;
  margin: 3px; padding: 2px; padding-left:4px;
  min-width: 120px;
} 
ul.sortable-dest { background:  #0052CC; } 
span.sort-item-delete-link {
  float:right; margin:0px;
  vertical-align:middle;
  margin-left:3px; padding:0px;
} 
.ui-state-highlight { height: 1.1em; line-height: 1.1em; } 



.handle { position:relative; cursor:pointer; width:50px;
          height:20px; line-height:20px;
          -webkit-user-select:none; -moz-user-select:none; -user-select:none;
          border:3px solid; color:#0052CC; text-align:center; }
.downText { margin-top:2px; }
.set .set { margin-bottom:2px; margin-top:3px; }             /* timepicker */

pre { white-space: pre-wrap; }
svg { height:28px; width:30px; vertical-align:middle; padding-left: 4px; padding-right: 10px; padding-top: 1px; padding-bottom: 1px;}
svg:not([fill]):not(.jssvg) { fill:#0052CC; }

svg.on,svg.FS20_on { fill:orange!important; }

/* next lines are for remotecontrol  margin:0px 0; */
.rc_body       { border-style:solid; border-color:gray;
                 border-width:2px; padding:5px;
                 background:#CCE2FF; font-size:6px;}
.rc_button     { padding: 5px 7px;}
.rc_button img { border-style:solid; border-width:1px;
                 border-color:transparent; }
.rc_button img:active { border-color: gray; }

/* jQuery-UI mods */
div.ui-dialog { border:4px solid #0052CC; padding:0; }
div.ui-dialog-titlebar   { padding:0!important; border:none; background:#99C1FF; }
button.ui-dialog-titlebar-close { display:none; }

div.ui-widget-content { background:#B3D1FF; }
div.ui-widget-content a {color:#0052CC!important;}
div.ui-widget-content a:hover {color:#EEEEEE!important;}

.ui-widget { font-family:Arial,sans-serif!important; }
.ui-button-text { font-weight:normal!important; color:#555!important; }

/* UZSU */
.ui-button-text-only.ui-state-active { background:#F0F0D8; }

#fwmenu {
  position: absolute; z-index:1005;
  text-align:left; max-width:600px;
  font-weight: normal; font-size: 100%; 
  background:#B3D1FF; border:1px solid #0052CC;
}
#fwmenu li a { color:#0052CC; }

div#svgmarker {
  position: absolute; z-index:1005; padding: 6px 10px;
  text-align:left; max-width:600px;
  color:#0052CC; background:#B3D1FF;
  border:2px solid #0052CC; border-radius:3px;
}

div.detLink { display:inline-block; margin-right:0.5em;}
div.detLink a { color:#B3D1FF; }

div .log a { color:#EEEEEE; }
#eventFilter {color: #EEEEEE; }


select [value^=l0] { color: red; }
select [value^=l1] { color: green; }
select [value^=l2] { color: blue; }
select [value^=l3] { color: pink; }
select [value^=l4] { color: brown; }
select [value^=l5] { color: black; }
select [value^=l6] { color: olive; }
select [value^=l7] { color: gray; }
select [value^=l8] { color: yellow; }

svg.zw_nr .zwBox { stroke:#0052CC; stroke-width:2px; fill:#99C1FF; }
svg.zw_nr .zwDongle { stroke:red; stroke-width:2px; fill:#99C1FF; }
svg.zw_nr .zwMargin { stroke:#0052CC; stroke-width:1px; fill:none; }
svg.zw_nr .zwLine { stroke:#0052CC; stroke-width:1px; }
svg.zw_nr .zwArrowHead { fill:#0052CC; stroke-width:1px; }
svg.zw_nr { height:auto; width:auto; margin:0; }
